<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Gerador de LeroLero</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Juan Pujol" />
		<meta name="author" content="Felippe Nardi" />
		<meta name="author" content="Henrique Lopes" />
		<meta name="language" content="pt-BR" />
		<meta property="og:type" content="website">
		<meta property="og:title" content="LeroLero on Facebook">
		<meta property="og:description" content="Aplicativo tem como objetivo ajudar as pessoas que ficam o dia todo no facebook e em alguns momentos não tem o que escrever. Ele vai te dar ótimas ideias do que pode escrito.">
		<meta property="og:url" content="http://geradordelerolero.herokuapp.com">
		<meta property="og:image" content="http://geradordelerolero.herokuapp.com/static/img/platao.jpg">
		<meta property='og:site_name' content='LeroLero on Facebook' />
		<meta property='fb:app_id' content="{{config['FACEBOOK_CONSUMER_KEY']}}" />
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css">
		<link rel="stylesheet" href="/static/css/app.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>
<script>
	$(function(){
		$('#new-lero-lero').click(function(){
			$('button').attr('disabled', true);
			$.get('/generate', function(rs){
				var pensamento = '"'+rs+'"';
				$('textarea').val( pensamento );
				$('#p-lero-lero').html( pensamento );
				$('button').attr('disabled', false);
			});
		});
		
		$('#pensar-agora').click(function(){
			FB.ui({method: 'stream.publish',
				   display:'popup',
			       message: 'getting educated about Facebook Connect',     
				   attachment: {       
						name: 'Pensamento do dia', 
						description: $('#p-lero-lero').text(),
						media: [{ 'type': 'image',
								  'src': window.location.href.concat("static/img/platao.jpg"),
								  'href': window.location.href
						}],
			       		href: window.location.href     
					},     
					action_links: [{
						 text: 'Code', 
						 href: 'http://github.com/facebook/connect-js'
					}],
					user_message_prompt: 'Share your thoughts about Connect'

			});
		});
	
		$("#post-on-my-timeline").click(function(){
			$('button').attr('disabled', true);
			FB.login(function(r){
				if( r.authResponse ){
					$('button').attr('disabled', false);
					window.location.href = "{{url_for('facebook_authorized')}}"
				}
				else{
					$('button').attr('disabled', false);
				}
			}, {scope:'email, publish_actions, manage_pages'});
		});
		
		$('#save-changes').click(function(){
			$('button').attr('disabled', true);
			
			$.ajax({
				type:'POST',
				url:"{{url_for('schedule')}}",
				data:$('form').serialize()
			}).done(function(){
				$('[data-dismiss=modal]').click();
			}).fail(function(){
				$('[data-dismiss=modal]').click();
			}).always(function(){
				$('button').attr('disabled', false);
			});
		});
	});
	
	window.fbAsyncInit = function(){
		FB.init({appId:'{{config['FACEBOOK_CONSUMER_KEY']}}', status: true, cookie: true, xfbml: true});
	}
</script>
<body>
	<div class='container'>
		<div id="fb-root"></div>
		<script>
		(function(d, s, id) {
		  	var js, fjs = d.getElementsByTagName(s)[0];
		  	if (d.getElementById(id)) return;
		  		js = d.createElement(s); js.id = id;
		  		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=".concat({{config['FACEBOOK_CONSUMER_KEY']}});
		  		fjs.parentNode.insertBefore(js, fjs);
		 }(document, 'script', 'facebook-jssdk'));
		</script>
		<nav class="navbar navbar-default" role="navigation">
			
			<!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <a class="navbar-brand" href="javascript:;">Lero Lero On Facebook</a>
			    </div>
			    <!-- Collection of nav links and other content for toggling -->
			    <div id="navbarCollapse" class="collapse navbar-collapse">
					<div class="navbar-form navbar-right">
						{% if user_loggend %}
						<div class="btn-group">
					    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					      {{session['user'].name}}
					      <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
					      <li><a href="{{url_for('logout')}}">Logout</a></li>
					    </ul>
					  	</div>
						{% else %}
					 	 <button type="submit" class="btn btn-default" id='post-on-my-timeline'>
							<span class="glyphicon glyphicon-user"></span>
							Logar com Facebook
						 </button>
					    {% endif%}
					</div>
			    </div>
		</nav>
		<div class='jumbotron'>
			<p id='p-lero-lero'>"{{lerolero|safe}}"</p>	
			<div>
				<textarea name='lero-lero' style='display:none;'>{{lerolero|safe}}</textarea>
				{% if user_loggend %}
					<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Agendar Pensamento</button>
				{% endif %}
				<button class="btn btn-primary" id='pensar-agora'>Pensar agora</button>
				<button type='button' name='new-lero-lero' id='new-lero-lero' class='btn btn-primary'>Novo Pensamento</button>
			</div>
		</div>
		<div class='row marketing'>
			<div class="col-lg-6">
			    <h4>Sobre:</h4>
			    <p>	Para facilitar o processo de grandes pensadores do facebook, eu resolvi integrar essa maravilhosa ferramenta com
					a maior rede social que temos até o momento, e desse modo facilitar o seu dia a dia tão complicado de criar maravilhosos pensamententos diários.</p>
			 </div>
			 <div class="col-lg-6">
			    <h4>Como funciona:</h4>
			    <p><s>Basta se conectar ao app com seu Facebook e cadastrar a hora que você deseja que seu pensamento diário seja publicado.</s></p>
			 </div>
		</div>
		
		{% if user_loggend %}
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title" id="myModalLabel">Agendar horário do pensamento do dia:</h4>
		      </div>
		      <div class="modal-body">
				<form class="form-horizontal" role="form" onsubmit="return false;">
					{#$('#input-weeks').tagsinput('add', { "value": 1 , "text": "Amsterdam"  });#}
					{% from 'macro.html' import render_week %}
					{% for w in config['TIMES'] %}
					   <div class="form-group">
							<label for='status' class="col-sm-2 control-label">{{w.text}}:</label>
							<div class='col-sm-10 input-100'>
								<input type='text' id='input-times-{{w.value}}' name='times-{{w.value}}'>
								<script>
									$(function(){
										$('#input-times-{{w.value}}').tagsinput({
											itemValue: 'value',
											itemText: 'text'
										});
										
										{% set time = 'times-%s' % w.value %}
										{{ render_week(input=w.value, weeks=times[time])}}
										
										$('#input-times-{{w.value}}').tagsinput('input').typeahead({
											valueKey:'text',
											prefetch:'weeks.json',
											{% raw %}
												template:"<p>{{text}}</p>",
											{% endraw %}
											engine:Hogan
										}).bind('typeahead:selected', $.proxy(function (obj, datum) {
												this.tagsinput('add', datum);
												this.tagsinput('input').typeahead('setQuery', '');
										}, $('#input-times-{{w.value}}')));
									});
								</script>
							</div>
						</div>
					{% endfor%}
				</form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary" id="save-changes">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		{% endif %}
		
		<footer>
			<div>
			Esse app para o facebook, é uma versão dos famosos geradores de <a href='{{url_lerolero}}'>lerolero</a> e <a href='{{url_original}}'>suicidiovirtual.</a><br />Autor: <a href='{{url_git}}'>@riquellopes</a>
			</div>
			<div class="fb-like" data-href="http://geradordelerolero.herokuapp.com/" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
		</footer>
	</div>
	<script src="/static/js/bootstrap-tagsinput.js"></script>
	<script src="/static/js/typeahead.min.js"></script>
	<script src="/static/js/hogan-2.0.0.js"></script>
	<script>
		setTimeout(function(){
			$('[class=twitter-typeahead]').css("display","");
		}, 2000);
	</script>
</body>
</html>