<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Gerador de LeroLero</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="robots" content="index, follow" />
		<meta name="author" content="Juan Pujol" />
		<meta name="author" content="Felippe Nardi" />
		<meta name="author" content="Henrique Lopes" />
		<meta name="language" content="pt-BR" />
		<meta property="og:type" content="website">
		<meta property="og:title" content="LeroLero on Facebook">
		<meta property="og:description" content="Aplicativo tem como objetivo ajudar as pessoas que ficam o dia todo no facebook e em alguns momentos não tem o que escrever. Ele vai te dar ótimas ideias do que pode escrito.">
		<meta property="og:url" content="http://geradordelerolero.herokuapp.com">
		<meta property="og:image" content="http://geradordelerolero.herokuapp.com/static/img/platao.jpg">
		<meta property='og:site_name' content='LeroLero on Facebook' />
		<meta property='fb:app_id' content="{{config['FACEBOOK_CONSUMER_KEY']}}" />
		<meta name="csrf-token" content="{{ csrf_token() }}">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/static/css/bootstrap-tagsinput.css">
		<link rel="stylesheet" href="/static/css/app.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>
<script>
	$(function(){
		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
		            xhr.setRequestHeader("X-CSRFToken", $('meta[name=csrf-token]').attr('content'))
		        }
		    }
		})
		
		$('#new-lero-lero').click(function(){
			$('button').attr('disabled', true);
			$.getJSON('/generate', function(data){
				var pensamento = '"'+data.text+'"';
				$('textarea').val( pensamento );
				$('#pensamento-id').val( data.id );
				$('#p-lero-lero').html( pensamento );
				$('button').attr('disabled', false);
			});
		});
		
		{% if not user_loggend %}
			$('#pensar-agora').click(function(){
				$('button').attr('disabled', true);
				FB.ui({method: 'stream.publish',
				   	display:'popup',
			       	message: 'getting educated about Facebook Connect',     
				   	attachment: {       
							name: 'Pensamento do dia',
							description: $('#p-lero-lero').text(),
							media: [{ 'type': 'image',
								  	  'src': "{{url_for('.static', filename='img/platao.jpg', _external=True)}}",
								  	  'href': window.location.href
						   }],
			       	       href: window.location.href.concat($('#pensamento-id').val())
					},
					user_message_prompt: 'Share your thoughts about Connect'
			 	}, function(reponse){
					$('button').attr('disabled', false);
					if( reponse ){
						$.post('/share-count', {id:$('#pensamento-id').val()}, function(r){		
							if( r.status == 200 ){
								$('#share_count').text(parseInt($('#share_count').text())+1);
							}
						});
					}
				});
			});
		{% else %}
			$("#pensar-agora").click(function(){
				$('button').attr('disabled', true);
				$('#ico-information').hide();
				$('#load-ajax').show();
				
				$.getJSON("/thinking-now/".concat($('#pensamento-id').val()))
				.done(function(r){
					$('#load-ajax').hide();
					$('#ico-information').removeClass('glyphicon-thumbs-down').removeClass('glyphicon-thumbs-up');
					
					if( r.status == 200){
						$('#share_count').text(parseInt($('#share_count').text())+1);
						$('#ico-information').addClass('glyphicon-thumbs-up').show();
					}else{
						$('#ico-information').addClass('glyphicon-thumbs-down').show();
					}
				})
				.always(function(){
					$('button').attr('disabled', false);
					$('#load-ajax').hide();
				});
			});
		{% endif %}
		
		$("#post-on-my-timeline").click(function(){
			$('button').attr('disabled', true);
			FB.login(function(r){
				if( r.authResponse ){
					$('button').attr('disabled', false);
					window.location.href = "{{url_for('facebook_authorized')}}"
				}
				else{
					$('button').attr('disabled', false);
				}
				}, {scope:'email, publish_actions, manage_pages'});
		});
		
		$('#save-changes').click(function(){
			$('button').attr('disabled', true);
			
			$.ajax({
				type:'POST',
				url:"{{url_for('schedule')}}",
				data:$('form').serialize()
			}).done(function(){
				$('[data-dismiss=modal]').attr('disabled', false).click();
			}).fail(function(){
				$('[data-dismiss=modal]').attr('disabled', false).click();
			}).always(function(){
				$('button').attr('disabled', false);
			});
		});
	});
	
	window.fbAsyncInit = function(){
		FB.init({appId:'{{config['FACEBOOK_CONSUMER_KEY']}}', status: true, cookie: true, xfbml: true});
	}
</script>
<body>
	<div class='container'>
		<div id="fb-root"></div>
		<script>
		(function(d, s, id) {
		  	var js, fjs = d.getElementsByTagName(s)[0];
		  	if (d.getElementById(id)) return;
		  		js = d.createElement(s); js.id = id;
		  		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=".concat({{config['FACEBOOK_CONSUMER_KEY']}});
		  		fjs.parentNode.insertBefore(js, fjs);
		 }(document, 'script', 'facebook-jssdk'));
		</script>
		<nav class="navbar navbar-default" role="navigation">
			
			<!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>
			        <a class="navbar-brand" href="javascript:;">Lero Lero On Facebook</a>
			    </div>
			    <!-- Collection of nav links and other content for toggling -->
			    <div id="navbarCollapse" class="collapse navbar-collapse">
					<div class="navbar-form navbar-right">
						{% if user_loggend %}
						<div class="btn-group">
					    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					      {{session['user'].name}}
					      <span class="caret"></span>
					    </button>
					    <ul class="dropdown-menu">
						   {#<li><a href="#" data-toggle="modal" data-target="#sugeriModal">Sugestão de LeroLero</a></li>#}
					      <li><a href="{{url_for('logout')}}">Logout</a></li>
					    </ul>
					  	</div>
						{% else %}
					 	 <button type="submit" class="btn btn-default" id='post-on-my-timeline'>
							<span class="glyphicon glyphicon-user"></span>
							Logar com Facebook
						 </button>
					    {% endif%}
					</div>
			    </div>
		</nav>
		<div class='jumbotron'>
			<p id='p-lero-lero'>"{{lero.text|safe}}" <span class="badge badge-primary" title='Compartilhado 1'>Compartilhado <span id='share_count'>{{lero.share_count|default(0)}}</span></span></p>
			<div>
				<textarea name='lero-lero' style='display:none;'>{{lero.text|safe}}</textarea>
				<input type='hidden' value='{{lero.id}}' id='pensamento-id'/>
				{% if user_loggend %}
					<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
						<span class="badge">Beta</span> Agendar Pensamento</button>
				{% endif %}
				<button class="btn btn-primary" id='pensar-agora'>
					<span class='glyphicon' id='ico-information'></span>
					<img src="{{url_for('.static', filename='img/ajax-loader.gif')}}" id='load-ajax' style='display:none;'> Pensar agora</button>
				<button type='button' name='new-lero-lero' id='new-lero-lero' class='btn btn-primary'>Novo Pensamento</button>
			</div>
		</div>
		<div class='row marketing'>
			<div class="col-lg-6">
			    <h4>Sobre:</h4>
			    <p>	Para facilitar o processo de grandes pensadores do facebook, eu resolvi integrar essa maravilhosa ferramenta com
					a maior rede social que temos até o momento, e desse modo facilitar o seu dia a dia tão complicado de criar maravilhosos pensamententos diários.</p>
			 </div>
			 <div class="col-lg-6">
			    <h4>Como funciona:</h4>
			    <p><s>Basta se conectar ao app com seu Facebook e cadastrar a hora que você deseja que seu pensamento diário seja publicado.</s></p>
			 </div>
		</div>
		
		{% if user_loggend %}
			{% include "agendar-modal.html" %}
			{% include "sugerir-pensamento-modal.html" %}
		{% endif %}
		<footer>
			<div>
			<a href="https://github.com/riquellopes/lerolero"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/82b228a3648bf44fc1163ef44c62fcc60081495e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"></a>
			Esse app para o facebook, é uma versão dos famosos geradores de <a href='{{config['URL']}}'>lerolero</a> e <a href='{{config['URL_ORIGINAL']}}'>suicidiovirtual.</a><br />Autor: <a href='{{config['URL_GIT']}}'>@riquellopes</a>
			</div>
			<div class="fb-like" data-href="http://geradordelerolero.herokuapp.com/" data-layout="standard" data-action="recommend" data-show-faces="true" data-share="true"></div>
		</footer>
	</div>
	<script src="/static/js/bootstrap-tagsinput.js"></script>
	<script src="/static/js/typeahead.min.js"></script>
	<script src="/static/js/hogan-2.0.0.js"></script>
	<script>
		setTimeout(function(){
			$('[class=twitter-typeahead]').css("display","");
		}, 2000);
	</script>
</body>
</html>